<h1 i18n="User welcome|An introduction header for this sample@@introductionHeader">
  Hello i18n by Angular CookBook !
</h1>

<ng-container i18n>I don't output any element</ng-container>

<br/>

<img [src]="logo" alt="Angular CookBook logo" i18n-title title="Angular CookBook logo"/>
<br>
<button (click)="inc(1)" type="button">+</button>
<button (click)="inc(-1)" type="button">-</button>
<span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</span>
({{minutes}})
<br><br>
<button (click)="male()" type="button">&#9794;</button>
<button (click)="female()" type="button">&#9792;</button>
<button (click)="other()" type="button">&#9895;</button>
<span i18n>The author is {gender, select, male {male} female {female} other {other}}</span>
<br><br>
<span i18n>Updated: {minutes, plural,
  =0 {just now}
  =1 {one minute ago}
  other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</span>
